<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
		<script src="/js/admin.js" type="module" defer></script>
	</head>
	<body>
		<header>
			<h1>Welkom <%= user.username %></h1>
			<h3><%= user.email %></h3>
			<h3><%= user.location %></h3>
		</header>
		<main>
			<section class="room">
				<h2>Roomname: <%= user.room.roomname %></h2>
				<button class="open-room" <% if (user.room.opened) { %>
					disabled <% } %>>Open room
				</button>
				<button class="close-room" <% if (!user.room.opened) { %>
					disabled <% } %>>Close room
				</button>
			</section>
			<section class="slots">
				<h2>Maak een aanvraag slot</h2>
				<form action="/slot" method="post">
					<input type="time" name="time" id="time" />
					<label for="time">Wanneer start dit nummer?</label>
					<button type="submit">Aanmaken</button>
				</form>
			</section>
			<section class="bids"></section>
			<section class=""></section>
		</main>
	</body>
</html>
