<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
		<script src="/js/admin.js" type="module" defer></script>
	</head>
	<body>
		<header>
			<h1>Welkom <%= user.username %></h1>
			<h3><%= user.email %></h3>
			<h3><%= user.location %></h3>
			<a href="/logout">logout</a>
		</header>
		<main>
			<section class="room">
				<h2>Roomname: <%= user.room.roomname %></h2>
				<button class="open-room" <% if (user.room.opened) { %>
					disabled <% } %>>Open room
				</button>
				<button class="close-room" <% if (!user.room.opened) { %>
					disabled <% } %>>Close room
				</button>
			</section>
			<section class="slots">
				<h2>Maak een aanvraag slot</h2>
				<form action="/slot" method="post">
					<label for="timer">Wanneer start dit nummer?</label>
					<p>Om <input type="text" name="timer" id="timer" /></p>
					<button type="submit">Aanmaken</button>
				</form>
				<div class="current-slots">
					<% slots.forEach(slot => { %>
					<div class="slot" data-slot="<%= slot.id %>">
						<div class="status">
							<p>om: <%= slot.time %></p>
							<button class="delete-slot">Sluiten</button>
						</div>
						<% if (slot.song) { %>
						<h3><%= slot.song %></h3>
						<p><%= slot.amount%> - <%= slot.name %></p>
						<% } else { %>
						<h3>Nog geen aanvraag</h3>
						<% } %>
					</div>
					<% }) %>
				</div>
			</section>
		</main>
	</body>
</html>
