<!DOCTYPE html>
<html lang="en">
	<head>
		<%-include("./partials/head.ejs") %>
		<script src="/js/app.js" type="module" defer></script>
	</head>
	<body>
		<header>
			<h1><%= roomId %></h1>
		</header>
		<main>
			<section>
				<h2>slots</h2>
				<div class="slots-list">
					<% slots.forEach(slot => { %>
					<div class="slot" data-slot="<%= slot.id %>">
						<p>om: <%= slot.time %></p>
						<% if (slot.song) { %>
						<h3><%= slot.song %></h3>
						<p><%= slot.name%> - <%= slot.amount %> euro</p>
						<% } else { %>
						<h3>Nog geen aanvraag</h3>
						<p>-</p>
						<% } %>
					</div>
					<% }) %>
				</div>
			</section>
			<div class="bid-form-wrapper">
				<form action="/bid" method="post" class="bid-form">
					<div class="input-field">
						<label for="username">Wat is je naam?</label>
						<input type="text" name="username" id="username" />
					</div>
					<div class="input-field">
						<label for="songtitle">Songtitle</label>
						<input type="text" name="songtitle" id="songtitle" />
					</div>
					<div class="input-field">
						<label for="songartist">Song artist</label>
						<input type="text" name="songartist" id="songartist" />
					</div>
					<div class="input-field">
						<label for="amount">Hoeveel bied je? (euro)</label>
						<input type="number" name="amount" id="amount" />
					</div>
					<button type="submit">Zend in</button>
				</form>
			</div>
		</main>
	</body>
</html>
